body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

#gameContainer {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
}

#character {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 20px;
    background-image: url('kitty.gif');
    background-size: cover;
}

.object {
    position: absolute;
    right: 0;
    width: 35px;
    height: 35px;
    background-image: url('eggplant.svg');
    background-size: cover;
}

#scorePanel {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10; /* Ensures it's above the game elements */
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 18px;
}

#scorePanel div {
    margin-bottom: 5px;
}
